<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezwel.admin.persist.userext.UserExtStatusMapper">

	<select id="getUserExtStatusList" resultType="com.ezwel.admin.domain.entity.userext.UserExtStatusDto">
		<if test="pageCommonFlag == true">
			SELECT COUNT(*) pageCommonCount
			  FROM
				(
		</if>
		SELECT 		 		
					(SELECT CLIENT_NM FROM MIND_CLIENT WHERE CLIENT_CD = A.CLIENT_CD)	as	clientNm
					, (SELECT CENTER_NM FROM MIND_CENTER WHERE CENTER_SEQ = A.CENTER_SEQ) as centerNm
					,A.COUNSELOR_ID	as	counselorId
					,A.INTAKE_CD as intakeCd
					,A.USER_KEY as userKey
					,A.CENTER_SEQ as centerSeq
					,C.CLIENT_CD as clientCd
                    ,C.COUNSEL_NM 	as	counselNm			
					,C.COUNSEL_DIV	as	counselDiv
					,C.COUNSEL_TYPE	as	counselType
					,C.CHANNEL_TYPE as channelType 
                    ,C.COUNSEL_RESERV_CHK
                    ,DATE_FORMAT(CONVERT(C.REG_DT, DATE), '%Y-%m-%d')	as	ymd
					,D.USER_NM	as	counselorNm
					,D.TEAM_CD AS teamCd
					,F.COUNSEL_FILE_SEQ AS fileSeq1 
                    ,F.File_NM AS filename1
                    ,F.FILE_PATH AS filefath1
                    ,F.APPR_STATUS AS apprStatus1
                    ,F.REG_ID AS regId1
                    ,DATE_FORMAT(CONVERT(F.REG_DT, DATE), '%Y-%m-%d') AS regDt1
                    ,G.COUNSEL_FILE_SEQ AS fileSeq2  
                    ,G.File_NM AS filename2
                    ,G.FILE_PATH AS filefath2
                    ,G.APPR_STATUS AS apprStatus2
                    ,G.REG_ID AS regId2
                    ,DATE_FORMAT(CONVERT(G.REG_DT, DATE), '%Y-%m-%d') AS regDt2
                    ,H.COUNSEL_FILE_SEQ AS fileSeq3  
                    ,H.File_NM AS filename3
                    ,H.FILE_PATH AS filefath3
                    ,H.APPR_STATUS AS apprStatus3
                    ,H.REG_ID AS regId3
                    ,DATE_FORMAT(CONVERT(H.REG_DT, DATE), '%Y-%m-%d') AS regDt3
                    ,CT.OWNER_NM as ownerNm
                    ,(select risks from MIND_COUNSEL_RECORD
					WHERE COUNSEL_CD =(select COUNSEL_CD
                    FROM MIND_COUNSEL TT where COUNSEL_CD != '91756' AND  INTAKE_CD =A.INTAKE_CD AND REG_DT <![CDATA[<=]]> date(now())  order by COUNSEL_CD DESC limit 1)) AS risks
                    FROM  MIND_COUNSEL_INTAKE C
					JOIN (SELECT x.COUNSELOR_ID,x.INTAKE_CD,x.USER_KEY,x.CENTER_SEQ,x.CLIENT_CD,x.schedule_DT 
							from (select * FROM MIND_COUNSEL
                            where COUNSEL_CD != '91756' AND schedule_DT <![CDATA[<=]]> date(now())) x
							INNER JOIN (
							  SELECT COUNSELOR_ID,INTAKE_CD,USER_KEY,CENTER_SEQ,CLIENT_CD,MAX(schedule_DT) as schedule_DT
							  FROM MIND_COUNSEL 
							  GROUP BY INTAKE_CD
					) AS max USING (schedule_DT)) A
					ON		C.INTAKE_CD = A.INTAKE_CD
                    JOIN 
					(SELECT COUNSEL_FILE_SEQ,File_NM,FILE_PATH,APPR_STATUS,REG_ID,REG_DT,CLIENT_CD,COUNSEL_CD,INTAKE_CD FROM MIND_COUNSEL_FILE WHERE DOC_TYPE ='2' AND DOC_STS ='1' ) F
						ON C.INTAKE_CD = F.INTAKE_CD
					LEFT JOIN 
					(SELECT COUNSEL_FILE_SEQ,File_NM,FILE_PATH,APPR_STATUS,REG_ID,REG_DT,CLIENT_CD,COUNSEL_CD,INTAKE_CD FROM MIND_COUNSEL_FILE WHERE DOC_TYPE ='2' AND DOC_STS ='2' ) G
						ON C.INTAKE_CD = G.INTAKE_CD
					LEFT JOIN 
					(SELECT COUNSEL_FILE_SEQ,File_NM,FILE_PATH,APPR_STATUS,REG_ID,REG_DT,CLIENT_CD,COUNSEL_CD,INTAKE_CD FROM MIND_COUNSEL_FILE WHERE DOC_TYPE ='2' AND DOC_STS ='3' ) H
						ON C.INTAKE_CD = H.INTAKE_CD

	                JOIN MIND_CENTER CT
						ON		A.CENTER_SEQ = CT.CENTER_SEQ
	                JOIN MIND_MGR D
						ON		A.COUNSELOR_ID = D.USER_ID
					ORDER BY regDt1 DESC
		<choose>
		
				<when test="pageCommonFlag == true">
					) A
				</when>
				<otherwise>
					LIMIT #{firstIndex} , #{pageSize}
				</otherwise>

		</choose>
	</select>
</mapper>