<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezwel.admin.controller.partner.payCheck.PayCheckMapper">


	<update id="updateCheckYnOwner">
		UPDATE MIND_PAY_CHECK 
		SET 
		OWNER_CHECK = #{userId},
		OWNER_CHECK_DT = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s') 
		WHERE CLIENT_CD = #{clientCd}
		AND CENTER_SEQ = #{centerSeq}
		AND COUNSEL_CD = #{counselCd}
	</update>

	<update id="updateCheckYn">
		UPDATE MIND_PAY_CHECK 
		SET 
		COUNSELOR_CHECK = #{userId},
		COUNSELOR_CHECK_DT = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s') 
		WHERE CLIENT_CD = #{clientCd}
		AND CENTER_SEQ = #{centerSeq}
		AND COUNSEL_CD = #{counselCd}
	</update>
	
	<update id="updateCheckYnManager">
		UPDATE MIND_PAY_CHECK 
		SET 
		MGR_CHECK = #{userId},
		MGR_CHECK_DT = DATE_FORMAT(NOW(), '%Y%m%d%H%i%s') 
		WHERE CLIENT_CD = #{clientCd}
		AND CENTER_SEQ = #{centerSeq}
		AND COUNSEL_CD = #{counselCd}
	</update>
	

	<insert id="addPayCheck">
		INSERT INTO MIND_PAY_CHECK (
			  CLIENT_CD
			, CLIENT_NM
			, COUNSEL_CD
			, SCHEDULE_DT
			, STAFF_NM
			, MGR_NM
			, COUNSEL_TYPE
			, COUNSEL_STATUS
			, CENTER_NM			
			, CENTER_SEQ
			, COUNSELOR_NM
			, COUNSELOR_ID
			, PRICE
			, TAX_TYPE
			, BANK_NM	
			, ACCOUNT_OWNER		
		) VALUES ( 
			  #{clientCd}
			, #{clientNm}
			, #{counselCd}
			, #{scheduleDt}
			, #{staffNm}
			, #{mgrNm}
			, #{counselType}
			, #{counselStatus}
			, #{centerNm}
			, #{centerSeq}
			, #{counselorNm}
			, #{counselorId}
			, #{price}
			, #{taxType}
			, #{bankNm}
			, #{accountOwner}
		) ON DUPLICATE KEY UPDATE 
			COUNSEL_CD = #{counselCd}
		<if test="isNotNull(clientCd)">
			, CLIENT_CD = #{clientCd}
		</if>
		<if test="isNotNull(clientNm)">
			, CLIENT_NM = #{clientNm}
		</if>
		<if test="isNotNull(scheduleDt)">
			, SCHEDULE_DT = #{scheduleDt}
		</if>
		<if test="isNotNull(staffNm)">
			, STAFF_NM = #{staffNm}
		</if>
		<if test="isNotNull(mgrNm)">
			, MGR_NM = #{mgrNm}
		</if>
		<if test="isNotNull(counselType)">
			, COUNSEL_TYPE = #{counselType}
		</if>
		<if test="isNotNull(counselStatus)">
			, COUNSEL_STATUS = #{counselStatus}
		</if>
		<if test="isNotNull(centerNm)">
			, CENTER_NM = #{centerNm}
		</if>
		<if test="isNotNull(centerSeq)">
			, CENTER_SEQ = #{centerSeq}
		</if>
		<if test="isNotNull(counselorNm)">
			, COUNSELOR_NM = #{counselorNm}
		</if>
		<if test="isNotNull(counselorId)">
			, COUNSELOR_ID = #{counselorId}
		</if>
		<if test="isNotNull(price)">
			, PRICE = #{price}
		</if>
		<if test="isNotNull(taxType)">
			, TAX_TYPE = #{taxType}
		</if>
		<if test="isNotNull(bankNm)">
			, BANK_NM = #{bankNm}
		</if>
		<if test="isNotNull(accountOwner)">
			, ACCOUNT_OWNER = #{accountOwner}
		</if>
	</insert>
	
	<select id="getPayCheckList" resultType="com.ezwel.admin.controller.partner.payCheck.PayCheckAddDto">
		<if test="pageCommonFlag == true">
			SELECT COUNT(*) pageCommonCount
			  FROM
			    (
		</if>
				SELECT	
					  A.CLIENT_CD
					, A.CLIENT_NM
					, A.COUNSEL_CD
					, DATE_FORMAT(STR_TO_DATE(A.SCHEDULE_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS scheduleDt
					, A.STAFF_NM
					, A.MGR_NM
					, A.COUNSEL_TYPE
					, A.COUNSEL_STATUS
					, A.CENTER_NM			
					, A.CENTER_SEQ
					, A.COUNSELOR_NM
					, A.COUNSELOR_ID
					, A.PRICE
					, A.TAX_TYPE
					, A.BANK_NM	
					, A.ACCOUNT_OWNER
					, B.STATUS AS status
					, A.OWNER_CHECK AS ownerCheck
					, DATE_FORMAT(STR_TO_DATE(A.OWNER_CHECK_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS ownerCheckDt
					, A.COUNSELOR_CHECK AS counselorCheck
					, DATE_FORMAT(STR_TO_DATE(A.COUNSELOR_CHECK_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS counselorDt
					, A.MGR_CHECK AS managerCheck
					, DATE_FORMAT(STR_TO_DATE(A.MGR_CHECK_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS managerDt
					, CASE WHEN ( DATE_FORMAT(DATE_ADD(STR_TO_DATE(B.SCHEDULE_DT, '%Y%m%d%H%i%s'), INTERVAL 3 DAY), '%Y%m%d') <![CDATA[<]]> DATE_FORMAT(NOW(), '%Y%m%d') <![CDATA[&&]]> B.RECORD_STATUS ='100693')  THEN '101238'
					ELSE B.RECORD_STATUS END as recordStatus
				FROM 	MIND_PAY_CHECK A
				LEFT OUTER JOIN MIND_COUNSEL B 
				ON
				A.COUNSEL_CD = B.COUNSEL_CD
				WHERE	1=1
				
				
				<if test="isNotNull(centerSeq) and centerSeq != '' ">
					AND		A.CENTER_SEQ = #{centerSeq}
				</if>
				<if test="isNotNull(counselorId)">
					AND		A.COUNSELOR_ID = #{counselorId}
				</if>
				<if test="isNotNull(searchClientCd) and clientCd != '' ">
					AND		A.CLIENT_CD = #{searchClientCd}
				</if>
				<if test="isNotNull(searchStaffNm)">
					AND		A.STAFF_NM = #{searchStaffNm}
				</if>
				<if test="isNotNull(searchMgrNm)">
					AND		A.MGR_NM = #{searchMgrNm}
				</if>
				<if test="isNotNull(searchCounselorNm)">
					AND		A.COUNSELOR_NM = #{searchCounselorNm}
				</if>
				<if test="isNotNull(searchCenterSeq) and searchCenterSeq != '' ">
					AND		A.CENTER_SEQ = #{searchCenterSeq}
				</if>
				<if test="isNotNull(startDt)">
					AND		A.SCHEDULE_DT >= #{startDt}
				</if>
				<if test="isNotNull(endDt)">
					AND		A.SCHEDULE_DT &lt;= #{endDt}
				</if>
				ORDER BY A.SCHEDULE_DT DESC
		<choose>
			<when test="pageCommonFlag == true">
				) A
			</when>
			<otherwise>
				LIMIT #{firstIndex} , #{pageSize}
			</otherwise>
		</choose>
	
	</select>
	
	<select id="getPayCheckListExcel" resultType="com.ezwel.admin.controller.partner.payCheck.PayCheckAddDto">
		SELECT	CLIENT_CD
			, CLIENT_NM
			, COUNSEL_CD
			, DATE_FORMAT(STR_TO_DATE(SCHEDULE_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS scheduleDt
			, STAFF_NM
			, MGR_NM
			, COUNSEL_TYPE
			, COUNSEL_STATUS
			, CENTER_NM			
			, CENTER_SEQ
			, COUNSELOR_NM
			, COUNSELOR_ID
			, PRICE
			, TAX_TYPE
			, BANK_NM	
			, ACCOUNT_OWNER
			, OWNER_CHECK
			, DATE_FORMAT(STR_TO_DATE(OWNER_CHECK_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS ownerCheckDt
			, COUNSELOR_CHECK
			, DATE_FORMAT(STR_TO_DATE(COUNSELOR_CHECK_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS counselorDt
			, MGR_CHECK
			, DATE_FORMAT(STR_TO_DATE(MGR_CHECK_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS managerDt
		FROM 	MIND_PAY_CHECK
		WHERE	1=1
		AND OWNER_CHECK IS NOT NULL
		<if test="isNotNull(centerSeq) and centerSeq != '' ">
			AND		CENTER_SEQ = #{centerSeq}
		</if>
		<if test="isNotNull(counselorId)">
			AND		COUNSELOR_ID = #{counselorId}
		</if>
		<if test="isNotNull(searchClientCd) and clientCd != '' ">
			AND		CLIENT_CD = #{searchClientCd}
		</if>
		<if test="isNotNull(searchStaffNm)">
			AND		STAFF_NM = #{searchStaffNm}
		</if>
		<if test="isNotNull(searchMgrNm)">
			AND		MGR_NM = #{searchMgrNm}
		</if>
		<if test="isNotNull(searchCounselorNm)">
			AND		COUNSELOR_NM = #{searchCounselorNm}
		</if>
		<if test="isNotNull(searchCenterSeq) and searchCenterSeq != '' ">
			AND		CENTER_SEQ = #{searchCenterSeq}
		</if>
		<if test="isNotNull(startDt)">
			AND		SCHEDULE_DT >= #{startDt}
		</if>
		<if test="isNotNull(endDt)">
			AND		SCHEDULE_DT &lt;= #{endDt}
		</if>
		ORDER BY SCHEDULE_DT DESC
	</select>
	
	<select id="getPayCheckPriceSum" resultType="String">
			SELECT IFNULL(SUM(PRICE), 0)
			FROM 	MIND_PAY_CHECK
			WHERE	1=1
			<if test="isNotNull(centerSeq) and centerSeq != '' ">
				AND		CENTER_SEQ = #{centerSeq}
			</if>
			<if test="isNotNull(counselorId)">
				AND		COUNSELOR_ID = #{counselorId}
			</if>
			<if test="isNotNull(clientCd) and clientCd != '' ">
				AND		CLIENT_CD = #{clientCd}
			</if>
			<if test="isNotNull(staffNm)">
				AND		STAFF_NM = #{staffNm}
			</if>
			<if test="isNotNull(mgrNm)">
				AND		MGR_NM = #{mgrNm}
			</if>
			<if test="isNotNull(counselorNm)">
				AND		COUNSELOR_NM = #{counselorNm}
			</if>
			<if test="isNotNull(searchCenterSeq) and searchCenterSeq != '' ">
				AND		CENTER_SEQ = #{searchCenterSeq}
			</if>
	</select>
	
	<select id="getPayCheckPop" resultType="com.ezwel.admin.controller.partner.payCheck.PayCheckAddDto">
			SELECT	CLIENT_CD
				, CLIENT_NM
				, COUNSEL_CD
				, DATE_FORMAT(STR_TO_DATE(SCHEDULE_DT, '%Y%m%d%H%i%s'),'%Y/%m/%d %H:%i') 	AS scheduleDt
				, STAFF_NM
				, MGR_NM
				, COUNSEL_TYPE
				, COUNSEL_STATUS
				, CENTER_NM			
				, CENTER_SEQ
				, COUNSELOR_NM
				, COUNSELOR_ID
				, PRICE
				, TAX_TYPE
				, BANK_NM	
				, ACCOUNT_OWNER
			FROM 	MIND_PAY_CHECK
			WHERE	COUNSEL_CD = #{counselCd}
	</select>
	
	<update id="updatePayCheck">
		UPDATE MIND_PAY_CHECK
		   SET CLIENT_CD = #{clientCd}
		   		,CLIENT_NM = #{clientNm}
		   		<if test="isNotNull(scheduleDt)">
		   		,SCHEDULE_DT = #{scheduleDt}
		   		</if>
		   		<if test="isNotNull(staffNm)">
		   		,STAFF_NM = #{staffNm}
		   		</if>
		   		<if test="isNotNull(mgrNm)">
		   		,MGR_NM = #{mgrNm}
		   		</if>
		   		<if test="isNotNull(counselType)">
		   		,COUNSEL_TYPE = #{counselType}
		   		</if>
		   		<if test="isNotNull(counselStatus)">
		   		,COUNSEL_STATUS = #{counselStatus}
		   		</if>
		   		<if test="isNotNull(centerNm)">
		   		,CENTER_NM = #{centerNm}
		   		</if>
		   		<if test="isNotNull(centerSeq)">
		   		,CENTER_SEQ = #{centerSeq}
		   		</if>
		   		<if test="isNotNull(counselorNm)">
		   		,COUNSELOR_NM = #{counselorNm}
		   		</if>
		   		<if test="isNotNull(counselorId)">
		   		,COUNSELOR_ID = #{counselorId}
		   		</if>
		   		<if test="isNotNull(price)">
		   		,PRICE = #{price}
		   		</if>
		   		<if test="isNotNull(taxType)">
		   		,TAX_TYPE = #{taxType}
		   		</if>
		   		<if test="isNotNull(bankNm)">
		   		,BANK_NM = #{bankNm}
		   		</if>
		   		<if test="isNotNull(accountOwner)">
		   		,ACCOUNT_OWNER = #{accountOwner}
		   		</if>
		WHERE COUNSEL_CD = #{counselCd}
	</update>
	
	<delete id="deletePayCheck">
		DELETE FROM MIND_PAY_CHECK 
		<if test="isNotNull(counselCd)">
			WHERE COUNSEL_CD = ${counselCd}
		</if>
	</delete>
	
	<select id="getPayCheckConfirm" resultType="com.ezwel.admin.controller.partner.payCheck.PayCheckAddDto">
		SELECT	WRITE_MONTH
			, WRITE_DAY
			, ISSUE_MONTH
			, ISSUE_DAY
			, ISSUE_HOUR
			, EMAIL
		FROM 	MIND_PAY_CHECK_CONFIRM
	</select>
	
	<update id="updatePaycheckConfirm">
		UPDATE MIND_PAY_CHECK_CONFIRM
		   SET WRITE_MONTH = #{writeMonth}
		   		, WRITE_DAY = #{writeDay}
		   		, ISSUE_MONTH = #{issueMonth}
		   		, ISSUE_DAY = #{issueDay}
		   		, ISSUE_HOUR = #{issueHour}
		   		, EMAIL = #{email}
	</update>
	
</mapper>